.input {
	width: 100%;
	padding: 10px 12px 10px 12px;
	border-radius: 8px;
	border: 1px solid $color-input_dorder;
}

.input:placeholder {
	color: $color-grey_text;
}
.inputWrap {
	width: 100%;
	position: relative;
}
.inputIcon {
	position: absolute;
	right: 13px;
	top: 50%;
	transform: translateY(-50%);
}
