/*Colors*/
$color-white: #ffffff;
$color-black: #000000;

$color-black_text: #323854;
$color-grey_text: #79747f;

$color-background: #fdfdff;
$color-red_background: #e84849;
$color-opacity_violet_background: #decfff;
$color-opacity_green_background: #c8c5cd;
$color-light_green_background: #bbe7b9;
$color-banner_yellow_background: #fff1cb;

$color-menu_background: #eeeeff;
$color-menu_active_item: #8d7fc7;
$color-menu_black_text: #434b74;
$color-menu_white_text: #ffffff;

$color-link: #008aff;

$color-input_dorder: #ececec;
$color-check_border: #c8c5cd;
$color-violet_border: #7362bc;
$color-green_border: #22782b;
$color-red_border: #e12828;

$color-dark_violet_btn: #8d7fc7;
$color-promo_btn: #d8ecff;
$color-violet_btn: #decfff;

$font-regular: "CirceRounded-Regular";
$font-regular_bold: "CirceRounded-AltBold";
